{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <table class="table">
        {% for admin in admins %}
            <tr>
                <td>{{ admin.name }}</td>
                <td>{{ admin.roles|join(', ') }}</td>
                <td>
                    <form action="{{ path('login') }}" method="post" class="form-inline">
                        <input type="hidden" id="username" name="_username" value="{{ admin.name }}"/>
                        <input type="hidden" id="password" name="_password" value="password"/>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
